# Gin config
GIN_MODE=release    #debug - release 

# MySQL Config
MYSQL_PASSWORD=root_pasword

# JWT config
JWT_RSA_PRIVATE_KEY_PATH=/run/secrets/private_key
JWT_RSA_PUBLIC_KEY_PATH=/run/secrets/public_key
JWT_EXPIRATION=7                  #token life 7 days
JWT_ISSUER=hesabfun.com
JWT_AUDIENCE=https://hesabfun.com